<div class="container">
    <div class="row" style="margin-top: 30px;">
        <div class="col-md-3">
            <div class="center">
                <%= image_tag avatar_url(@user), class: "avatar-full img-circle" %>
            </div>
            <br>
            <div class="panel panel-default">
                <div class="panel-heading secondary-header">Verification</div>
                <div class="panel-body">
                    <ul class="sidebar-list verification">
                        <% if @user.confirmation_token %>
                            <li><i class="fa fa-envelope-o"></i>&nbsp; Email Address <span class="pull-right"><i class="fa fa-check-circle-o"></i></span></li>
                        <% end %>
                        <% if @user.provider %>
                            <li><i class="fa fa-facebook-square"></i>&nbsp; Facebook<span class="pull-right"><i class="fa fa-check-circle-o"></i></span></li>
                        <% end %>
                        <li><i class="fa fa-phone"></i>&nbsp;Phone Number<span class="pull-right"><i class="fa fa-check-circle-o"></i></span></li>
                    </ul> 
                </div> 
            </div>
        </div>
            
        <div class="col-md-9">
            <div class="container">
            <h2><%= @user.fullname %></h2>
            <div class="description row-space-3">
                <%= @user.description %>
            </div>

            <h4>Listings (<%= @rooms.length %>)</h4><br>

            <div class="row">
                <div class="owl-carousel owl-loaded owl-drag">
                    <%= render partial: "rooms/rooms_list", locals: {rooms: @rooms} %>
                </div>
            </div>
            <br>

            <h4>Reviews From Guests (<%= @guest_reviews.count %>)</h4>
            <div class="row">
                <%= render "reviews/guest_list" %>
            </div>
            <br>
            <h4>Reviews From Hosts (<%= @host_reviews.count %>)</h4>
            <div class="row">
                <%= render "reviews/host_list" %>
            </div>
            </div>
        </div>
    </div>
</div>