<% content_for :head do %>
  <meta name="turbolinks-cache-control" content="no-cache">
<% end %>

<main role="main">
    <section class="jumbotron jumbotron-bg">
        <div class="container">
            <h1>Bookify</h1>
            <p class="lead text-muted">
            Break out of your shell and do something different.
            </p>
            <div class="form-horizontal">
                <%= form_tag search_path, class: "form-group",  method: :get do %>
                    <div class="form-group">
                        
                        <div class="col-md-2 col-sm-2">
                            <%= text_field_tag :search, params[:search], placeholder: "Where are you going?", class: "form-control", id: "autolocation" %>
                        </div>
                        <div class="col-md-2 col-sm-2 flatpickr">
                            <%= text_field_tag :start_date, params[:start_date], placeholder: "Start Date", class: "form-control datepicker" %>
                        </div>
                        <div class="col-md-2 col-sm-2 flatpickr">
                            <%= text_field_tag :end_date, params[:end_date], placeholder: "End Date", class: " form-control datepicker" %>
                        </div>
                        
                    </div>
                    <br>
            
                    <div class="row">
                        <div class="col-md-offset-2 col-md-2">
                            <%= submit_tag "Search", class: "btn btn-lg btn-submit btn-round search-btn" %>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </section>

    <!-- Homes/rooms -->
    <div class="container">
        <div>
            <h3>Homes</h3>
        </div>
        <br>
        <div class="row">
            <div class="owl-carousel owl-loaded owl-drag">
                <%= render partial: "rooms/rooms_list", locals: {rooms: @rooms} %>
            </div>
        </div>
        </div>

        <!-- Places -->
        <div class="container">
        <div>
            <h3>Places</h3>
        </div>
        <br>

        <div class="row">
            <div class="owl-carousel owl-loaded owl-drag">
                
                <div class="panel">
                    <div class="preview">
                        <%= image_tag 'hk.jpg', class:"img-thumbnail" %>
                    </div>
                    <div class="panel-body">
                        <a href="https://bookit-lify.herokuapp.com/search?search=Hong+Kong&start_date=&end_date=&commit=Search"> Hong Kong</a>
                    </div>
                </div>

            
                <div class="panel">
                    <div class="preview">
                        <%= image_tag 'cp.jpg', class:"img-thumbnail" %>
                    </div>
                    <div class="panel-body">
                        <a href="https://bookit-lify.herokuapp.com/search?search=copenhagen"> Denmark</a>
                    </div>
                </div>
           
            
               <div class="panel">
                    <div class="preview">
                        <%= image_tag 'mk.jpg', class:"img-thumbnail" %>
                    </div>
                    <div class="panel-body">
                        <a href="https://bookit-lify.herokuapp.com/search?search=Casablanca%2C+Morocco&start_date=&end_date=&commit=Search"> Morocco</a>
                    </div>
                </div>
            
        
                <div class="panel">
                    <div class="preview">
                        <%= image_tag 'jiufen.jpg', class:"img-thumbnail" %>
                    </div>
                    <div class="panel-body">
                        <a href="https://bookit-lify.herokuapp.com/search?search=Seattle%2C+WA%2C+USA&start_date=&end_date=&commit=Search"> Taiwan</a>
                    </div>
                </div>

                <div class="panel">
                    <div class="preview">
                        <%= image_tag 'lis.jpg', class:"img-thumbnail" %>
                    </div>
                    <div class="panel-body">
                        <a href="https://bookit-lify.herokuapp.com/search?search=Lisbon%2C+Portugal&start_date=&end_date=&commit=Search"> Portugal</a>
                    </div>
                </div>
            
            </div>
        </div>
    </div>
</main>

<script>
        $(function() {
            $("#autolocation").geocomplete();
        })
</script>