<main role="main">
    <section class="jumbotron jumbotron-bg">
        <div class="container">
            <h1>Booking App</h1>
            <p class="lead text-muted">
            Break out of your shell and do something different
            </p>
            <div class="form-horizontal">
                <%= form_tag search_path, class: "form-group",  method: :get do %>
                    <div class="form-group">
                        
                        <div class="col-md-2 col-sm-2">
                            <%= text_field_tag :search, params[:search], placeholder: "Where are you going?", class: "form-control", id: "autolocation" %>
                        </div>
                        <div class="col-md-2 col-sm-2 flatpickr">
                            <%= text_field_tag :start_date, params[:start_date], placeholder: "Start Date", class: "form-control datepicker" %>
                        </div>
                        <div class="col-md-2 col-sm-2 flatpickr">
                            <%= text_field_tag :end_date, params[:end_date], placeholder: "End Date", class: " form-control datepicker" %>
                        </div>
                        
                    </div>
                    <br>
            
                    <div class="row">
                        <div class="col-md-offset-2 col-md-2">
                            <%= submit_tag "Search", class: "btn btn-lg btn-submit btn-round search-btn" %>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </section>

    <!-- Homes/rooms -->
    <div class="container">
        <div>
            <h3>Homes</h3>
        </div>
        <br>
        <div class="row">
        <%= render partial: "rooms/rooms_list", locals: {rooms: @rooms} %>
        </div>
        </div>

        <!-- Cities -->
        <div class="container">
        <div>
            <h3>Cities</h3>
        </div>
        <br>

        <div class="row">
            <div class="col-md-3 col-sm-12">
                <a href="http://localhost:3000/search?search=london">
                    <div class="discovery-card"></div>
                </a>
            </div>
            <div class="col-md-3 col-sm-12">
                <a href="http://localhost:3000/search?search=london">
                    <div class="discovery-card"></div>
                </a>
            </div>
            <div class="col-md-3 col-sm-12">
                <a href="http://localhost:3000/search?search=london">
                    <div class="discovery-card"></div>
                </a>
            </div>
            <div class="col-md-3 col-sm-12">
                <a href="http://localhost:3000/search?search=london">
                    <div class="discovery-card"></div>
                </a>
            </div>
        </div>
    </div>
</main>

<script>
        $(function() {
            $("#autolocation").geocomplete();
        })
</script>