 <% rooms.each do |room| %>
    
        <div class="panel">
            <div class="preview">
                <% if room.images.length > 0 %>
                    <%= image_tag room.images[0], class: "img-thumbnail" %>
                <% else %>
                    <%= image_tag "blank.jpg", class: "img-thumbnail" %>
                <% end %>
            </div>
            <div class="panel-body">
                <%= link_to room.listing_name, room, class: "dark-gray" %> <br>
                <div>$<%= room.price %> - <%= room.home_type %> - <%= pluralize(room.bedrooms, "bed") %></div>
                <div><i class="fa fa-star"></i><%= room.average_rating %> (<%= room.guest_reviews.count %>)</div>
            </div>
        </div>
<% end %> 

