<div class="container" style="margin-top: 100px;">
    <div class="row">
        <div class="col-md-7">
            
            <div class="row">
                <h2 class="new-listing-header" style="color: #757687">Hi, <%= current_user.fullname %>!</h2>
                <h3 class="new-listing-header" style="color: #d86b74">Let's get started listing your home.</h3>
            </div>
            <br>
            <div class="row">
                <div class="col-md-6">
                    <%= form_for @room do |f| %>
                        <div class="row">
                             <div class="col-md-6">
                                <div class="form-group" style="margin-right: 5px">
                                    <label>Home Type</label>
                                    <%= f.select :home_type, [["House", "House"], ["Apartment", "Apartment"], ["Hostel", "Hostel"], ["Bed & Breakfast", "Bed & Breakfast"]], id: "home_type", prompt: "Select", class: "form-control" %>
                                </div>
                            </div>
                        
                            

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Room Type</label>
                                    <%= f.select :room_type, [["Entire Place", "Entire Place"], ["Private Room", "Private Room"], ["Shared Room", "Shared Room"]], id: "room_type", prompt: "Select", class: "form-control" %>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Occupancy</label>
                                    <%= f.select :accomodates, [["1", 1], ["2", 2], ["3", 3], ["4", 4], ["5+", 5]], id: "accomodates", prompt: "Select", class: "form-control" %>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Bedrooms</label>
                                    <%= f.select :bedrooms, [["1", 1], ["2", 2], ["3", 3], ["4", 4], ["5+", 5]], id: "bedrooms", prompt: "Select", class: "form-control" %>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Bathrooms</label>
                                    <%= f.select :bathrooms, [["1", 1], ["2", 2], ["3", 3], ["4", 4], ["5+", 5]], id: "bathrooms", prompt: "Select", class: "form-control" %>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="col-md-12 pull-left">
                            <%= f.submit "Continue", class: "btn btn-lg" %>
                        </div>
                    <% end %>
                </div>
            </div>
                
            
        </div>
        <div class="col-md-5">
            <div class="row">
                <div class="col-md-12">
                    <%= image_tag 'vase.png', class:'img-responsive new-listing-img', style:"background-color: #F0F1EB; border: none;" %>
                </div>
                
            </div>
        </div>
        
    </div> 
</div>