<!DOCTYPE html>
<html>
  <head>
    <title>BookingSite</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
    
    <script src="https://use.fontawesome.com/9c64152c9c.js"></script>
  </head>

  <body>

    <%= render 'default/navbar' %>
    <%= render 'default/message' %>
    
    

    <div class="container"> 
      <%= yield %>
    </div>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
